<form>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name"
           required
           [(ngModel)]="currentPart.name" name="name">
  </div>

  <div class="form-group">
    <label for="needed">Is needed</label>
    <input type="checkbox"  class="form-control" id="needed"
           required
           [(ngModel)]="currentPart.needed" name="needed">
  </div>

  <div class="form-group">
    <label for="quantity">Quantity</label>
    <input type="number" class="form-control"  id="quantity"
           required
           [(ngModel)]="currentPart.quantity" name="quantity">
  </div>

  <div class="d-flex flex-row justify-content-around">
    <button type="submit" class="btn  btn-success " (click)="onSubmit()">Submit</button>
    <button type="button" class="btn  btn-danger" (click)="onCancel()">Cancel</button>
  </div>
</form>
